
<p-messages [(value)]="msgs"></p-messages>

<div class="ui-container">
  <p-tabMenu [model]="menuItems" [activeItem]="menuItems[0]"></p-tabMenu>

<div *ngIf="showPortfolioPage">
  <p-table [value]="myAssets">
    <ng-template pTemplate="header">
      <tr>
        <th>Asset name</th>
        <th>Price, $</th>
        <th>Amount</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td>{{asset.name.toUpperCase()}}</td>
        <td>{{asset.price}}</td>
        <td>{{asset.amount}}</td>
        <td>{{asset.value}}</td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="myAssets.length === 0" class="no-assets-title">No assets</div>

  <div *ngIf="myAssets.length !== 0" style="padding: 20px;">Total value: {{totalValue.toFixed(2)}}</div>

  <div class="chart">
    <p-chart #chart type="line" [data]="chartData" [options]="datasets" (onDataSelect)="selectData($event)"></p-chart>
  </div>

</div>

  <div *ngIf="showBuySellPage">
    <p-table [value]="allAssets">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Asset name</th>
          <th>Price, $</th>
          <th>Amount</th>
          <th>Buy/sell</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-asset>
        <tr>
          <td>{{asset.id}}</td>
          <td>{{asset.name.toUpperCase()}}</td>
          <td>{{asset.price}}</td>
          <td>{{asset.amount}}</td>
          <td>
            <button type="button" pButton label="BUY" (click)="openDialogToBuy(asset)"></button>

            <button type="button" pButton label="SELL" (click)="openDialogToSell(asset)"
                    style="background-color: #0055aa"></button>

          </td>
        </tr>
      </ng-template>
    </p-table>


    <!--buying dialog-->
    <p-dialog *ngIf="selectedAsset" [(visible)]="buyingDialog" [responsive]="true" [style]="{width: '450px', minWidth: '200px'}">
      <p-header>
        BUYING {{selectedAsset.name.toUpperCase()}}
      </p-header>

            <div class="item-name">Available funds, $:</div>
            <input type="text" pInputText [(ngModel)]="availableMoney" [disabled]="true"/>

            <div class="item-name">Available amount:</div>
            <input type="text" pInputText [(ngModel)]="selectedAsset.amount" [disabled]="true"/>

            <div class="item-name">Current price, $:</div>
            <input type="text" pInputText [(ngModel)]="selectedAsset.price" [disabled]="true"/>

            <div class="item-name">Amount to buy:</div>
            <input type="text" pInputText [(ngModel)]="selectedAmount"/>

      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="buyAsset()" label="Buy"></button>
        <button type="button" pButton icon="pi pi-close" (click)="buyingDialog=false" label="Cancel" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>

    <!--selling dialog-->
    <p-dialog *ngIf="selectedAsset" [(visible)]="sellingDialog" [responsive]="true" [style]="{width: '450px', minWidth: '200px'}">
      <p-header>
        SELLING {{selectedAsset.name.toUpperCase()}}
      </p-header>

      <div class="item-name">Your available amount:</div>
      <input type="text" pInputText [(ngModel)]="selectedAsset.amount" [disabled]="true"/>

      <div class="item-name">Current price, $:</div>
      <input type="text" pInputText [(ngModel)]="selectedAsset.price" [disabled]="true"/>

      <div class="item-name">Amount to sell:</div>
      <input type="text" pInputText [(ngModel)]="selectedAmount"/>

      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="sellAsset()" label="Sell"></button>
        <button type="button" pButton icon="pi pi-close" (click)="sellingDialog=false" label="Cancel" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>

  </div>



</div>
