.ui-container {
  margin: 100px 300px;
}


.no-assets-title {
  margin: 30px;
}
.item-name {
  display: inline-block;
  min-width: 160px;
  line-height: 3;
}
.chart {
  padding: 0 100px;
}
p-table {
  line-height: 2;
}
p-messages {
  position: absolute;
  top: 0;
  right: 10px;
  width: 500px;
}
